.text-left
  %h1.text-gray-900.mb-4.auth-title.text-center.mt-4= t('devise.passwords.new.forgot_your_password')
= form_for resource, as: resource_name, url: password_path(resource_name), html: { method: :post }, class: 'form' do |f|
  = render 'admin/users/shared/error_messages', resource: resource
  .form-group.mb-4.mt-4
    = f.label :email
    = f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control auth-text-input w-100'
  .form-group.mb-4.mt-4
    = f.submit t('devise.passwords.new.send_me_reset_password_instructions'), class: 'btn btn-primary auth-submit-btn w-100'
= render 'admin/users/shared/links'
